<div class="my_l">

    <ul class="log_list">
        <li><a class="link_1 {{ 'on' if li_userinfo}}" href="/user/userinfo.html">个人中心</a></li>
        <li><a class="link_4 {{ 'on' if li_favorites }}" href="/user/favorites.html">我的书架</a></li>
        <li><a class="link_6 {{ 'on' if li_comment }}" href="/user/comment.html">我的书评</a></li>
        <li><a class="link_7 {{ 'on' if li_feedback_list }}" href="/user/feedback_list.html">我的反馈</a></li>
        <li><a class="link_7 {{ 'on' if li_buy_record }}" href="/user/buy_record.html">购买记录</a></li>
        <li><a class="link_7 {{ 'on' if li_my_follow_list }}" href="/user/my_follow_list.html">我的关注</a></li>
        <li><a class="link_8 {{ 'on' if li_setup }}" href="/user/setup.html">账号设置</a></li>
    </ul>

</div>