<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>修改性别_{{ website.name }}</title>
    <link rel="stylesheet" href="/static/css/user.css" />
    {% include 'common/header.html' %}
</head>
<body class="">

{% include 'common/top.html' %}
<div class="main box_center cf">
    <div class="userBox cf">
        {% include 'user/common.html' %}
        <div class="my_r">
            <div class="my_info cf">
                <div class="my_info_txt">
                        <ul class="mytab_list">
                            <li><i class="tit">我的性别</i>
                                <label><input type="radio" name="sex" value="0"  />&nbsp;男生</label>
                                <label><input class="ml20" type="radio" name="sex" value="1" checked />&nbsp;女生</label>
                            </li>
                            <li class="mt20"><i class="tit">&nbsp;</i><input type="button" onclick="updateSex()" name="btn" value="修改" id="btn" class="s_btn btn_red" /></li>
                            <li><i class="tit">&nbsp;</i><span id="LabErr"></span></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'common/footer.html' %}
{% include 'common/js.html' %}
<script type="text/javascript">
    //查询用户信息
    $.ajax({
        type: "get",
        url: "/user/userInfo",
        data: {},
        dataType: "json",
        success: function (data) {
            if (data.code == 0) {
                if(data.data.user_sex === 0){
                    $("input[name=sex]").eq(0).attr("checked",true);
                }



            } else if (data.code == 1001) {
                //未登录
                location.href = '/user/login.html?originUrl=' + decodeURIComponent(location.href);

            } else {
                layer.alert(data.msg);
            }

        },
        error: function () {
            layer.alert('网络异常');
        }
    })
    function updateSex() {
        $.ajax({
            type: "POST",
            url: "/user/updateUserInfo",
            data: JSON.stringify({'userSex':$("input[name=sex]:checked").val()}),
            dataType: "json",
            success: function (data) {
                if (data.code == 0) {
                    window.location.href = '/user/setup.html';

                } else if (data.code == 1001) {
                    //未登录
                    location.href = '/user/login.html?originUrl=' + decodeURIComponent(location.href);

                } else {
                    layer.alert(data.msg);
                }

            },
            error: function () {
                layer.alert('网络异常');
            }
        })
    }
</script>

</body>
</html>
