<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>修改密码_{{ website.name }}</title>
    <link rel="stylesheet" href="/static/css/user.css" />
    {% include 'common/header.html' %}
</head>

<body class="">

    {% include 'common/top.html' %}
    <div class="main box_center cf">
        <div class="userBox cf">
            {% include 'user/common.html' %}
            <div class="my_r">
                <div class="my_info cf">
                    <div class="my_info_txt">
                        <ul class="mytab_list">
                            <li><i class="tit">我的密码</i><input name="oldPass" type="password" id="txtOldPass"
                                    class="s_input" placeholder="请输入原密码" /></li>
                            <li><i class="tit">&nbsp;</i><input name="txtNewPass1" type="password" id="txtNewPass1"
                                    class="s_input" placeholder="请输入新密码" /></li>
                            <li><i class="tit">&nbsp;</i><input name="txtNewPass2" type="password" id="txtNewPass2"
                                    class="s_input" placeholder="请确认新密码" /></li>
                            <li><i class="tit">&nbsp;</i><input type="submit" name="btnExchangePassword" value="修改"
                                    id="btnExchangePassword" onclick="updatePassword()" class="s_btn btn_red" /></li>
                            <li><i class="tit">&nbsp;</i><span id="LabErr"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'common/footer.html' %}
    {% include 'common/js.html' %}
    <script type="text/javascript">
        function updatePassword() {
            var oldPassword = $("#txtOldPass").val();
            if (oldPassword.isBlank()) {
                $("#LabErr").html("旧密码不能为空！");
                return;
            }
            var newPassword1 = $("#txtNewPass1").val();
            if (newPassword1.isBlank()) {
                $("#LabErr").html("新密码不能为空！");
                return;
            }
            var newPassword2 = $("#txtNewPass2").val();
            if (newPassword2.isBlank()) {
                $("#LabErr").html("确认密码不能为空！");
                return;
            }
            if (newPassword1 !== newPassword2) {
                $("#LabErr").html("两次输入的新密码不匹配！");
                return;
            }
            $.ajax({
                type: "POST",
                url: "/user/updatePassword",
                data: JSON.stringify({ 'oldPassword': oldPassword, 'newPassword1': newPassword1, 'newPassword2': newPassword2 }),
                dataType: "json",
                success: function (data) {
                    if (data.code == 0) {
                        window.location.href = '/user/setup.html';

                    } else if (data.code == 1001) {
                        //未登录
                        location.href = '/user/login.html?originUrl=' + decodeURIComponent(location.href);

                    } else {
                        $("#LabErr").html(data.msg);
                    }

                },
                error: function () {
                    layer.alert('网络异常');
                }
            })
        }
    </script>

</body>

</html>