<!DOCTYPE html>
<html lang="en">
<head>
    <title>小说推荐</title>
    {% include 'admin/common/header.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/admin/css/other/user.css') }}"/>
</head>
<body class="pear-container">
{# 查询表单 #}
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="" lay-filter="book-setting-query-form">
            <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline">
                    <select id="type" name="type" lay-search class="dict-select" dict-key="book_rec_type">
                    </select>
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="book-setting-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
{# 表格 #}
<div class="user-main user-collasped">
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="book-setting-table" lay-filter="book-setting-table"></table>
        </div>
    </div>
</div>
</body>
{# 表格操作 #}
<script type="text/html" id="book-setting-toolbar">
    {% if authorize("admin:book_setting:add") %}
        <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
            <i class="pear-icon pear-icon-add"></i>
            新增
        </button>
    {% endif %}
    {% if authorize("admin:book_setting:batch_add") %}
        <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="batchAdd">
            <i class="pear-icon pear-icon-add"></i>
            批量新增
        </button>
    {% endif %}
    {% if authorize("admin:book_setting:remove") %}
        <button class="pear-btn pear-btn-md" lay-event="batchRemove">
            <i class="pear-icon pear-icon-ashbin"></i>
            删除
        </button>
    {% endif %}
</script>

{# 修改、删除操作 #}
<script type="text/html" id="book-setting-bar">
    {% if authorize("admin:book_setting:edit") %}
        <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i
                class="layui-icon layui-icon-edit"></i>
        </button>
    {% endif %}
    {% if authorize("admin:book_setting:remove") %}
        <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i
                class="pear-icon pear-icon-ashbin"></i>
        </button>
    {% endif %}
</script>

{% include 'admin/common/footer.html' %}

<script>
  layui.use(['table', 'form', 'jquery', 'popup', 'common'], function () {
    let table = layui.table
    let form = layui.form
    let $ = layui.jquery
    let dtree = layui.dtree
    let popup = layui.popup
    let common = layui.common
    let MODULE_PATH = '/admin/book_setting/'

    loadDicts();

    // 表格数据
    let cols = [
      [
        {% if authorize("admin:book_setting:remove") %}
          { type: 'checkbox' },
        {% endif %}
        { title: '序号', type: 'numbers', align: 'center' },
        { title: 'ID', field: 'id', align: 'center', hide:true },
        { title: '小说ID', field: 'book_id', align: 'center' },
        { title: '小说名', field: 'book_name', align: 'center' },
        { title: '作者', field: 'author', align: 'center' },
        { title: '推荐类型', field: 'type', align: 'center' },
        { title: '排序号', field: 'sort', align: 'center' },
        { title: '操作', toolbar: '#book-setting-bar', align: 'center', width: 130 }
      ]
    ]

    // 渲染表格数据
    table.render({
      elem: '#book-setting-table',
      url: MODULE_PATH + 'data',
      page: true,
      cols: cols,
      skin: 'line',
      height: 'full-148',
      toolbar: '#book-setting-toolbar', /*工具栏*/
      text: { none: '暂无数据' },
      defaultToolbar: [{ layEvent: 'refresh', icon: 'layui-icon-refresh' }, 'filter', 'print', 'exports'] /*默认工具栏*/
    })



    table.on('tool(book-setting-table)', function (obj) {
      if (obj.event === 'remove') {
        window.remove(obj)
      } else if (obj.event === 'edit') {
        window.edit(obj)
      }
    })

    table.on('toolbar(book-setting-table)', function (obj) {
      if (obj.event === 'add') {
        window.add()
      } else if (obj.event === 'batchAdd') {
        window.batchAdd()
      } else if (obj.event === 'refresh') {
        window.refresh()
      } else if (obj.event === 'batchRemove') {
        window.batchRemove(obj)
      }
    })

    form.on('submit(book-setting-query)', function (data) {
      window.refresh(data.field)
      return false
    })

    window.add = function () {
      layer.open({
        type: 2,
        title: '新增',
        shade: 0.1,
        //area: ['550px', '550px'],
        area: ['100%', '100%'],
        content: MODULE_PATH + 'add'
      })
    }

    window.batchAdd = function () {
      layer.open({
        type: 2,
        title: '批量新增',
        shade: 0.1,
        //area: ['550px', '550px'],
        area: ['100%', '100%'],
        content: MODULE_PATH + 'batch_add'
      })
    }

    window.edit = function (obj) {
    console.log(obj);
      layer.open({
        type: 2,
        title: '修改',
        shade: 0.1,
        area: ['550px', '550px'],
        content: MODULE_PATH + 'edit?id=' + obj.data['id']
      })
    }

    window.remove = function (obj) {
      layer.confirm('确定要删除', { icon: 3, title: '提示' }, function (index) {
        layer.close(index)
        let loading = layer.load()
        var ids = [obj.data['id']]
        $.ajax({
          url: MODULE_PATH + 'remove',
          dataType: 'json',
          type: 'delete',
          data: { ids: ids },
          success: function (result) {
            layer.close(loading)
            if (result.success) {
              popup.success(result.msg, function () {
                obj.del()
              })
            } else {
              popup.failure(result.msg)
            }
          }
        })
      })
    }

    window.batchRemove = function (obj) {
      let data = table.checkStatus(obj.config.id).data
      if (data.length === 0) {
        layer.msg('未选中数据', {
          icon: 3,
          time: 1000
        })
        return false
      }
      var ids = []
      var hasCheck = table.checkStatus('book-setting-table')
      var hasCheckData = hasCheck.data
      if (hasCheckData.length > 0) {
        $.each(hasCheckData, function (index, element) {
          ids.push(element.id)
        })
      }
      {#console.log(ids);#}
      layer.confirm('确定要删除选中数据', {
        icon: 3,
        title: '提示'
      }, function (index) {
        layer.close(index)
        let loading = layer.load()
        $.ajax({

          url: MODULE_PATH + 'remove',
          data: { ids: ids },
          dataType: 'json',
          type: 'delete',
          success: function (result) {
            layer.close(loading)
            if (result.success) {
              popup.success(result.msg, function () {
                table.reload('book-setting-table')
              })
            } else {
              popup.failure(result.msg)
            }
          }
        })
      })
    }

    window.refresh = function (param) {
      table.reload('book-setting-table', { where: param })
    }
  })
</script>
</html>