<!DOCTYPE html>
<html lang="en">

<head>
  <title>邀请码管理</title>
  {% include 'admin/common/header.html' %}
  <link rel="stylesheet" href="{{ url_for('static', filename='admin/admin/css/other/user.css') }}" />
</head>

<body class="pear-container">
{# 查询表单 #}
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="" lay-filter="invite-code-query-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">邀请码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="invite_code" placeholder="" class="layui-input">
                    </div>
                </div>

                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="invite-code-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>

  {# 表格 #}
  <div class="user-main user-collasped">
    <div class="layui-card">
      <div class="layui-card-body">
        <table id="invite_code-table" lay-filter="invite_code-table"></table>
      </div>
    </div>
  </div>
</body>
{# 表格操作 #}
<script type="text/html" id="invite_code-toolbar">
    {% if authorize("admin:invite_code:add") %}
        <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
            <i class="pear-icon pear-icon-add"></i>
            新增
        </button>
    {% endif %}
    {% if authorize("admin:invite_code:remove") %}
        <button class="pear-btn pear-btn-md" lay-event="batchRemove">
            <i class="pear-icon pear-icon-ashbin"></i>
            删除
        </button>
    {% endif %}
</script>

{# 修改、删除操作 #}
<script type="text/html" id="invite_code-bar">
    {% if authorize("admin:invite_code:remove") %}
        <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i
                class="pear-icon pear-icon-ashbin"></i>
        </button>
    {% endif %}
</script>

{% include 'admin/common/footer.html' %}

<script>
  layui.use(['table', 'form', 'jquery', 'popup', 'common'], function () {
    let table = layui.table
    let form = layui.form
    let $ = layui.jquery
    let popup = layui.popup
    let common = layui.common
    let MODULE_PATH = '/admin/invite_code/'

    // 表格数据
    let cols = [
      [
        {% if authorize("admin:invite_code:remove") %}
          { type: 'checkbox' },
        {% endif %}
        { title: '序号', type: 'numbers', align: 'center' },
        { title: '邀请码', field: 'invite_code', align: 'center' },
        { title: '有效时间', field: 'validity_time', align: 'center',
           templet: function (d) {
               return layui.util.toDateString(d.validity_time,  "yyyy-MM-dd HH:mm:ss");
           }
        },
        { title: '是否使用过', field: 'is_use', align: 'center',
           templet: function (d) {
               //return d.is_use == 1 ? '使用过' : '未使用';
               return d.is_use == 1 ? '<p style="color: red;">使用过</p>' : '<p style="color: green;">未使用</p>';
           }
        },
        { title: '创建时间', field: 'create_time', align: 'center',
           templet: function (d) {
               return layui.util.toDateString(d.create_time,  "yyyy-MM-dd HH:mm:ss");
           }
        },
        { title: '操作', toolbar: '#invite_code-bar', align: 'center', width: 130 }
      ]
    ]

    // 渲染表格数据
    table.render({
      elem: '#invite_code-table',
      url: MODULE_PATH + 'data',
      page: true,
      cols: cols,
      skin: 'line',
      height: 'full-148',
      toolbar: '#invite_code-toolbar', /*工具栏*/
      text: { none: '暂无数据' },
      defaultToolbar: [{ layEvent: 'refresh', icon: 'layui-icon-refresh' }, 'filter', 'print', 'exports'] /*默认工具栏*/
    })


    table.on('tool(invite_code-table)', function (obj) {
      if (obj.event === 'remove') {
        window.remove(obj)
      }
    })

    table.on('toolbar(invite_code-table)', function (obj) {
      if (obj.event === 'add') {
        window.add()
      } else if (obj.event === 'refresh') {
        window.refresh()
      } else if (obj.event === 'batchRemove') {
        window.batchRemove(obj)
      }
    })

    form.on('submit(invite-code-query)', function (data) {
      window.refresh(data.field)
      return false
    })

    window.add = function () {
      layer.open({
        type: 2,
        title: '新增',
        shade: 0.1,
        area: ['550px', '550px'],
        content: MODULE_PATH + 'add'
      })
    }

    window.remove = function (obj) {
      layer.confirm('确定要删除', { icon: 3, title: '提示' }, function (index) {
        layer.close(index)
        let loading = layer.load()
        var ids = [obj.data['id']]
        $.ajax({
          url: MODULE_PATH + 'remove',
          dataType: 'json',
          type: 'delete',
          data: { ids: ids },
          success: function (result) {
            layer.close(loading)
            if (result.success) {
              popup.success(result.msg, function () {
                obj.del()
              })
            } else {
              popup.failure(result.msg)
            }
          }
        })
      })
    }

    window.batchRemove = function (obj) {
      let data = table.checkStatus(obj.config.id).data
      if (data.length === 0) {
        layer.msg('未选中数据', {
          icon: 3,
          time: 1000
        })
        return false
      }
      var ids = []
      var hasCheck = table.checkStatus('invite_code-table')
      var hasCheckData = hasCheck.data
      if (hasCheckData.length > 0) {
        $.each(hasCheckData, function (index, element) {
          ids.push(element.id)
        })
      }
      layer.confirm('确定要删除选中数据', {
        icon: 3,
        title: '提示'
      }, function (index) {
        layer.close(index)
        let loading = layer.load()
        $.ajax({

          url: MODULE_PATH + 'remove',
          data: { ids: ids },
          dataType: 'json',
          type: 'delete',
          success: function (result) {
            layer.close(loading)
            if (result.success) {
              popup.success(result.msg, function () {
                table.reload('invite_code-table')
              })
            } else {
              popup.failure(result.msg)
            }
          }
        })
      })
    }

    window.refresh = function (param) {
      table.reload('invite_code-table', { where: param })
    }
  })
</script>

</html>